.border__cover {
  border: 2px solid #4caf50;
  border-radius: 4px;
}
.border__blue {
  border: 2px solid #2196f3;
  border-radius: 4px;
}
.btn {
  background: white;
  color: #aaaaaa;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
}
